<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label id="l1">Username</label>
    <input type="text" id="1"  >
    <span id="s1"></span><br>
    <label id="2">password</label>
    <input type="password" id="p"><br>
    <label for="55">confirm password</label>
    <input type="password" id="55">
    <span id="rent"></span><br>
    
<input type="button" id="btn" value="click" onclick="validate()">
<!-- <p id="p1">ghjhkh</p>
<img src="" alt="" id="img1"> -->

<script>
    function validate(){
        username= document.getElementById("1").value
        console.log(username)
        password= document.getElementById("p").value
        confirmpassword= document.getElementById("55").value

        if(username==""){
            document.getElementById("1").style.border="1px solid red"
            document.getElementById("s1").innerHTML="please enter your name"
            document.getElementById("s1").style.color="red"
            document.getElementById("55").style.border="1px solid blue"
            document.getElementById("rent").innerHTML="re enter your password"
            document.getElementById("rent").style.color="blue"

        }
    }
    // function chg(){
    //     document.getElementById("btn").type="text"
    //     a=document.getElementById("p1").innerHTML="hjvkhkj"
    //     document.getElementById("p1").style.color="green"
    //     document.getElementById("img1").src="staic/images/log1.jpg"
    //     console.log(a)
    // }
</script>

</body>
</html>