{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid-container{
           display: grid; 
           grid-template-columns:200px auto auto ;
           grid-template-rows: 200px 200px ;
           background-color: aquamarine; 
           grid-gap: 20px;
           
        }
        .grid-container > div{
            background-color: blue;
            padding: 20px;
            /* margin: 20px; */
        }
    </style>
</head>
<body>
   <section class="grid-container">
       <div><img src="{% static 'images/123.png'%}" alt="" width="100%"></div>
       <div>second</div>
       <div>third</div>
       <div>fourth</div>
       <div>fifth</div>
       <div>sixth</div>
   </section>
  
    
</body>
</html>