{% extends 'master.html' %}
{% load static %}
{% block content %}

    <!-- carousal -->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/pair.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>brand Fest</h5>
              <p>Up To </p><h1 style="color: red" width:1px>80%<h2 style="color:blueviolet">OFF</h2></h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/womenpc.jpg.webp'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <span style="color: darkblue;font-size: large; text-align: right ;"><h1>BRAND FEST</h1>
              <h2>UP TO</h2><br>
              <h3>75% OFF</h3></span>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/collection.webp'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p> -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/samsung1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p> -->
            </div>
          </div>
        </div>


        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <!-- <div class="container">
      <div class="row">
        <div class="col-md-4" >
            <h1>women</h1>
          <img class="img-fluid" src="{% static 'images/women.jpg'%}" alt="" >
        </div>
        <div class="col-md-4" >
            <h1>men</h1>
          <img class="img-fluid" src="{% static 'images/men2.jpg'%}" alt="" >
        </div>
        <div class="col-md-4" >
            <h1></h1>
          <img class="img-fluid" src="{% static 'images/kid.avif'%}" alt="" >
        </div> -->
      </div>
      <style>
         
         .a{
           background-image: url('/static/images/kohli.jpg');
           width: 200px;
           height: 200px;
           border-radius: 50%;
           
           border-radius: 150px;
           border-spacing: 100px;
           margin-right: 80px;
           margin-top: 50px;
           margin-bottom: 50px;
           
         }

         
      </style>
      <a href="">
        <div class="a">
        
        
      </div></a>
      
        
      
      </div>
{% endblock %}